<html>
    <head>
        <title>Bittergaurd</title>
        <style>
            body{
                background-color: aquamarine;
            }
            h1{
                text-align: center;
            }
.bitt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
}
.cont{
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
}
        </style>
    </head>
    <body>
        <form method="POST" action="/email">
        <h1><b>Bittergaurd</b></h1>
        <img src="/static/bitter.png" alt="Bittergourd" height="30" width="40" class="bitt"></img>
        <p>
            Bitter gourd (Momordica charantia) is an important vegetable crop and is grown for its immature tuberculate fruits which have a unique bitter taste. Fruits are considered as a rich source of vitamins and minerals and 88 mg vitamin C per 100 g. Fruits are used after cooking and delicious preparations are made after stuffing and frying.
        </p>
        <div class="cont">
            <!-- <a href='/login'><button name="back" type="submit">Back &#128257;</button></a> -->
            <button name="ok" type="submit">OK &#128077;</button>
        </div>
    </form>
    </body>
</html>