<html>
    <head>
        <title>Brinjal</title>
        <style>
            body{
                background-color: aquamarine;
            }
            h1{
                text-align: center;
            }
.brinj {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
}
.cont{
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
}
        </style>
    </head>
    <body>
        <form method="POST" action="/email">
        <h1><b>Brinjal</b></h1>
        <img src="/static/plant3.png" alt="Brinjal" height="30" width="40" class="brinj"></img>
        <p>
            Brinjal (Solanum melongena), also known as eggplant or aubergine, is an easily cultivated plant belonging to the family Solanaceae. Its fruit is high in nutrition and commonly consumed as a vegetable. The fruit and other parts of the plant are used in traditional medicine.
        </p>
        <div class="cont">
            <!-- <a href='/login'><button name="back" type="submit">Back &#128257;</button></a> -->
            <button name="ok" type="submit">OK &#128077;</button>
        </div>
    </form>
    </body>
</html>