<html>
    <head>
        <title>Chilli</title>
        <style>
            body{
                background-color: aquamarine;
            }
            h1{
                text-align: center;
            }
.chill {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
}
.cont{
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
}
        </style>
    </head>
    <body>
        <form method="POST" >
        <h1><b>Chilli</b></h1>
        <img src="/static/plant1.png" alt="Chilli" height="30" width="40" class="chill"></img>
        <p>
        Chilli is a fruit which belongs to Capsicum genus. It has many varieties which are differentiated on its pungency measured on Scoville Scale. Chilli fruit when ripened and dried becomes red chilli, which is further grounded to form red chilli powder.
        </p>
        <div class="cont">
            <input type="number" name="no_o_p" placeholder="Enter the number of plants"/>
            <button name="ok" type="submit">OK &#128077;</button>
        </div>
    </form>
    </body>
</html>