<html>
    <head>
        <title>Coriander</title>
        <style>
            body{
                background-color: aquamarine;
            }
            h1{
                text-align: center;
            }
.coria {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
}
.cont{
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
}
        </style>
    </head>
    <body>
        <form method="POST" >
        <h1><b>Coriander</b></h1>
        <img src="/static/coria.jpg" alt="Coriander" height="30" width="40" class="coria"></img>
        <p>
            Coriander, (Coriandrum sativum), also called cilantro or Chinese parsley, feathery annual plant of the parsley family (Apiaceae), parts of which are used as both an herb and a spice. Native to the Mediterranean and Middle East regions, the plant is widely cultivated in many places worldwide for its culinary uses.
        </p>
        <div class="cont">
            <input type="number" name="no_o_p" placeholder="Enter the number of plants"/>
            <button name="ok" type="submit">OK &#128077;</button>
        </div>
    </form>
    </body>
</html>