<html>
    <head>
        <title>Cucumber</title>
        <style>
            body{
                background-color: aquamarine;
            }
            h1{
                text-align: center;
            }
.cucu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
}
.cont{
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
}
        </style>
    </head>
    <body>
        <form method="POST" >
        <h1><b>Cucumber</b></h1>
        <img src="/static/cucum.jpg" alt="Cucumber" height="30" width="40" class="cucu"></img>
        <p>
            Cucumber (Cucumis sativus) is a widely-cultivated creeping vine plant in the Cucurbitaceae gourd family that bears cucumiform fruits, which are used as vegetables. There are three main varieties of cucumber—slicing, pickling, and burpless/seedless—within which several cultivars have been created.
        </p>   
        <div class="cont">
            <input type="number" name="no_o_p" placeholder="Enter the number of plants"/>
            <button name="ok" type="submit">OK &#128077;</button>
        </div>
    </form>
    </body>
</html>