<html>
    <head>
        <title>Spinach</title>
        <style>
            body{
                background-color: aquamarine;
            }
            h1{
                text-align: center;
            }
.spin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
}
.cont{
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
}
        </style>
    </head>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <body>
        <form method="POST" action="/email">
        <h1><b>Spinach</b></h1>
        <img src="/static/spina.jpg" alt="Chilli" height="30" width="40" class="spin"></img>
        <p>
            Spinach is a superfood. It is loaded with tons of nutrients in a low-calorie package. Spinach has been used by various cultures throughout history, notably in Mediterranean, Middle-Eastern, and South-East-Asian cuisines. It can be incorporated quite easily into any diet, as it is cheap and easy to prepare.
        </p>
        <div class="cont">
            <!-- <a href='/login'><button name="back" type="submit">Back &#128257;</button></a> -->
            <a href='/email'><button name="ok" type="submit">OK &#128077;</button></a>
        </div>
    </form>
    </body>
</html>