
<html>
    <head>
        <title>Tomato</title>
        <style>
            body{
                background-color: aquamarine;
            }
            h1{
                text-align: center;
            }
            .tom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
}
.cont{
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
}
        </style>
    </head>
    <body>
        <form method="POST" action="/email">
        <h1><b>Tomato</b></h1>
        <img src="/static/tomo.jpg" alt="Tomato" class="tom"></img>
        <p>
            Tomato (Lycopersicon esculentum) is an annual or short lived perennial pubescent herb and greyish green curled uneven pinnate leaves. The flowers are off white bearing fruits which are red or yellow in colour. It is a self pollinated crop.
        </p>
        <div class="cont">
        <!-- <a href='/login'><button name="back" type="submit">Back &#128257;</button></a> -->
        <button name="ok" type="submit">OK &#128077;</button>
    </div>
    </form>
    </body>
</html>